.comment-container {
  border-radius: 5px;
  width: 95%;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  float: right;
  background-color: rgba(211, 250, 253, 0.3);
}

/* COMMENT HEADER */
.comment-name {
  display: inline-block;
}

/* LIKE SECTION */
.l {
  display: inline-block;
  width: 95%;
  margin: 10px 10px 0px 10px;
}

.l-btn {
  width: 100%;
  margin: 0px 2px;
  border-radius: 5px;
}

.message-container {
  width: 95%;
  margin: auto;
}

.message {
  overflow-x: hidden;
}

.l-btn-sep {
  margin: 0px 10px 10px 10px;
}

.vc-btn {
  background-color: white;
  font-size: 14px;
}

.vc-btn:hover {
  background-color: white;
  text-decoration: underline;
}

/* Edit and Delete buttons */
.comment-edit-btn, .comment-delete-btn {
  margin: 0px 5px;
  border-radius: 5px;
}

/* Edit Comment Modal */
.edit-comment-text {
  width: 100%;
  padding: 5px;
}

.edit-comment-btn {
  width: 100%;
}