body {
  background-color: rgb(240, 240, 240);
}

.text-container {
  width: 500px;
  margin: auto;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}

.text {
  text-align: left;
  padding: 5px;
  width: 99%;
}

.text-btn {
  width: 99%;
  color: black;
}

.banner-container {
  background: #fcf1d3;
  border: 1px solid;
  padding: 10px;
  text-align: center;
  font-style: italic;
}

.banner-desc {
  width: 1000px;
  font-size: 35px;
  margin: auto
}

.welcome-back {
  text-align: center;
  margin: 10px 0px;
  font-weight: bold;
}

.dash-name {
  font-size: 150%;
}