.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
  box-shadow: 0px 1px 2px;
}

.nav-item-right {
  float: right;
}

.nav-item {
  color:black;
  margin: 0px 25px;
}

.nav-item:hover {
  color: black;
  text-decoration: underline rgba(0, 69, 138, 0.7);
  text-underline-offset: 15px;
}