.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: lightgrey;
}

.nav-item-right {
  margin-left: auto;
}

.nav-item {
  color:black;
}

.nav-item:hover {
  color: black;
}

.nav-item {
  margin: 15px 25px;
}