.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: linear-gradient(to right, aqua, skyblue);
  box-shadow: 0px 1px 2px;
}

.nav-item {
  color:black;
  margin: 15px 25px;
  padding: .95rem .5rem;
}

.nav-item:hover {
  text-underline-offset: 12px;
  color: black;
}

.nav-item.active {
  color: rgb(111, 0, 255);
}

.logout-btn {
  border: none;
  padding: 3px 10px;
  border-radius: 20px;
  background-color: white;
}

.logout-btn:hover {
  background-color: lightgray;
}