.post-container {
  width: 700px;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}

/* POST HEADER */
.post-header {
  display: flex;
  flex-direction: row;
}

.post-body-1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.post-body-2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.post-btns {
  display: flex;
}

.post-name {
  margin-bottom: 1px;
  margin-left: 5px;
}

.post-name:hover {
  color:rgba(0, 0, 0, 0.7);
}

/* POST PROFILE IMAGE */
.post-profile-img {
  width: 12%;
  padding-bottom: 0px;
}

/* RELATIVE TIME */
.post-time {
  font-size: 12px;
  margin-left: 5px;
}


/* LIKE AND COMMENT SECTION */
.lc {
  display: inline-block;
  width: 95%;
  margin: 10px 10px 0px 10px;
}

.like {
  float: left;
}

.comment {
  float: right;
}

.lc-btn-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.lc-btn {
  margin: 0px 2px;
  border-radius: 5px;
}

.message-container {
  margin-top: 5px;
}

.message {
  overflow-x: hidden;
}

.lc-btn-sep {
  margin: 0px 10px 10px 10px;
}

.vc-btn {
  background-color: white;
  font-size: 15px;
}

.vc-btn:hover {
  background-color: white;
  text-decoration: underline;
}

/* Edit and Delete Buttons */
.extra {
  float: right;
}

.post-edit-btn, .post-delete-btn {
  margin: 0px 5px;
  border-radius: 5px;
}

/* Edit Post Modal */
.edit-post-text {
  width: 100%;
  padding: 5px;
}

.edit-post-btn {
  width: 100%;
}